{% extends 'kbo/index.html' %}
{% load staticfiles %}
{% block content %}
<div class="rank-container">
    <table class="table">
        <colgroup>
            <col width="76">
            <col width="100">
            <col width="40">
            <col width="40">
            <col width="40">
            <col width="60">
            <col width="60">
            <col width="100">
            <col width="50">
            <col width="60">
        </colgroup>
        <thead>
            <tr class="active">
                <th>순위</th>
                <th>팀</th>
                <th>승</th>
                <th>패</th>
                <th>무</th>
                <th>승률</th>
                <th>게임차</th>
                <th>최근10경기</th>
                <th>연속</th>
                <th>홈</th>
                <th>어웨이</th>
            </tr>
        </thead>
        <tbody>
            {% for data in rank_data %}
            <tr class="active">
                <td>{{ data.rank }} | {{ data.teamrank.}}</td>
                <td>
                    {% with data.team_id|stringformat:'s' as str_team_id %}
                        {% with 'images/no_img_'|add:str_team_id|add:'.png' as image_static %}
                        <img src="{% static image_static %}" alt="">
                        {% endwith%}
                    {% endwith%}
                </td>
                <td>{{ data.win }}</td>
                <td>{{ data.lose }}</td>
                <td>{{ data.draw }}</td>
                <td>{{ data.win_rate }}</td>
                <td>{{ data.game_gap }}</td>
                <td>{{ data.recent_10_game }}</td>
                <td>{{ data.continuous }}</td>
                <td>{{ data.home_score }}</td>
                <td>{{ data.away_score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}